.title {
    font-size: 25px;
    font-weight: bold;
}

.gallery-lightbox-container{
    position: relative;
    display: inline-block;
    padding: 20px;
}
.gallery{
    line-height: 0;
    column-count: 6;
    column-gap: 15px;
}

.gallery-img {
    position: relative;
}

.gallery-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .21);
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    transition: opacity 2s ease;
    opacity: 0;
}

.gallery-img:hover .delete-button {
    display: block;
    opacity: 1;
    /* Show button on hover */
}

// .delete-button {
//     position: absolute;
//     top: 5px;
//     right: 5px;
//     display: none;
//     transition: opacity 2s ease;
//     opacity: 0;
// }