<div class="row">
  <div class="col">
    Title
    <input nz-input type="text" [(ngModel)]="filter.title" placeholder="Find title">
  </div>
  <div class="col">
    Content
    <input nz-input type="text" [(ngModel)]="filter.text" placeholder="Find content">
  </div>
  <div class="col">
    Author
    <input nz-input type="text" [(ngModel)]="filter.author" placeholder="Find author">
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    Status  <br>
    <nz-select [(ngModel)]="filter.isDone" nzPlaceHolder="Find status" class="w-100">
      <nz-option nzValue="1" nzLabel="Finish"></nz-option>
      <nz-option nzValue="0" nzLabel="In Progress"></nz-option>
      <nz-option nzValue="2" nzLabel="All"></nz-option>
    </nz-select>
  </div>
  <div class="col">
    Create date <br>
    <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="filter.createdAt" class="w-100"></nz-date-picker>
  </div>
  <div class="col">
    Estimate finish date <br>
    <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="filter.endDate" class="w-100"></nz-date-picker>
  </div>
</div>

  <div class="row mt-3">
    <div class="col-6 text-end">
      <button nz-button nzType="default" (click)="resetFilter()">Reset filter</button>
    </div>
    <div class="col-6">
      <button nz-button nzType="primary" (click)="search()">Search</button>
    </div>
  </div>


<nz-divider></nz-divider>

<div class="row">
  <div class="col">
    <h4>Notes List</h4>
  </div>
  <div class="col text-end">
    <button nz-button nzType="primary" (click)="openAddModal()">Create new note</button>
  </div>
</div>

<div class="row">
    <div class="col-md-3" *ngFor="let note of listNotes">
      <div class="card" [ngClass]="'note-item '+ note.color">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-bold">{{ note.title }}</h5>
            </div>
            <div class="col text-end" *ngIf="checkPermission(note.author)">
              <button nz-button nzShape="circle" nzType="text" class="me-1" (click)="update(note._id)"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
              <button nz-button nzDanger nzType="text" nzShape="circle" (click)="delete(note._id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
            </div>
          </div>

          <p>Author : {{note.author}}.</p>
          <p>Create date : {{convertNumberToDate(note.createdAt)}}</p>
          <p>Estimate finish date : {{convertNumberToDate(note.endDate)}}</p>
          <p>Status : 
            <nz-switch nz-input [(ngModel)]="note.isDone" [nzDisabled]="!checkPermission(note.author)" [nzCheckedChildren]="checkedTemplate"
            [nzUnCheckedChildren]="unCheckedTemplate" (ngModelChange)="changeStatus(note._id, note.isDone)"></nz-switch>
            <ng-template #checkedTemplate>Finish</ng-template>
            <ng-template #unCheckedTemplate>In progress</ng-template>
          </p>
          <p>Content : {{note.text}}</p>
          <!-- Additional note details if needed -->
        </div>
      </div>
    </div>
</div>
<div nz-row nzJustify="end" nzGutter="10">
  <div nz-col class="mt-1">
    Total : <b>{{total}} </b> <span *ngIf="total <= 1">record</span><span *ngIf="total > 1">records</span>
  </div>
  <div nz-col>
    <nz-pagination [nzPageIndex]="page" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize" [nzPageSizeOptions]="pageSizeOption" (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)"></nz-pagination>
  </div>
</div>
