.dice {
    font-size: 100px;
    margin: 20px 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
  }
  
  .dice-face {
    margin: auto;
  }