<h2 class="text-center">Welcome to My App or Your Space</h2>
<div class="row">
    <div class="col text-center">
        <img class="w-75 rounded-2" src="social.png" alt="">
    </div>
    <div class="col d-flex align-items-center">
        <h5>This is a website where you take notes, save your images, have some chit chat with general room chat,...</h5>
    </div>
</div>
<div class="row mt-3">
    <div class="col d-flex align-items-center">
        <h5>Features:
            <ul>
                <li>Save, upload and manage your images</li>
                <li>General realtime chat box</li>
                <li>Some chill games</li>
                <li>Note todos</li>
            </ul>
        </h5>
    </div>
    <div class="col text center">
        <img class="w-75 rounded-2" src="features.jpg" alt="">
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <img class="w-75 rounded-2" src="contact.jpg" alt="">
    </div>
    <div class="col d-flex align-items-center">
        <h5>
            <ul>
                <li>Email : htnguyen.uit&#64;gmail.com </li>
                <li>Phone : +84 868018004</li>
            </ul>
        </h5>

    </div>
</div>
<h3 class="text-center">Thanks for spend times on my app</h3>
<h5 class="text-center">Copyright by Huỳnh Trung Nguyên 2024. Feel free to reuse code. Just remember to give some credit for me!</h5>


