<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/dashboard" target="_blank">
        <img src="/niyya-todo-logo.png" alt="logo" class="logo">
        <h1>Niyya Notes</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard">Dashboard</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a>About</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Notes" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/notes">Notes</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Account" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Sign up</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Sign in</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Sign out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
